<!doctype html>
<html lang="<% lang %>" ⚡>

<!-- HEAD -->
<head>
<% > head.html %>

<!-- LINKS -->
<% > rels.html %>

<!-- PAGE TITLE -->
<title>OnePercent.IO | <% browser_title_blog %></title>

<!-- SEO -->
<link rel="canonical" href="https://onepercent.io/blog.<% & locale %>.amp.html"/>
<link rel="amphtml" href="https://onepercent.io/blog.<% & locale %>.amp.html"/>

<meta name="description" content="<% meta_description %>"/>

<meta property="og:type" content="website"/>
<meta property="og:site_name" content="OnePercent.IO"/>
<meta property="og:title" content="OnePercent.IO | Digital Innovation Studio"/>
<meta property="og:description" content="<% meta_description %>"/>
<meta property="og:url" content="https://onepercent.io"/>
<meta property="og:image" content="https://onepercent.io/media/icons/onepercent-icon-512x512.png"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:url" content="https://onepercent.io/index.<% & locale %>.amp.html"/>
<meta name="twitter:description" content="<% meta_description %>"/>
<meta name="twitter:title" content="OnePercent.IO | Digital Innovation Studio"/>
<meta name="twitter:site" content="@onepercentio"/>
<meta name="twitter:image" content="https://onepercent.io/media/icons/onepercent-icon-512x512.png"/>

<% # en_US %>
  <link rel="alternate" hreflang="pt-BR" href="https://onepercent.io/blog.pt_BR.amp.html" />
<% / en_US %>

<% # pt_BR %>
  <link rel="alternate" hreflang="en-US" href="https://onepercent.io/blog.en_US.amp.html" />
<% / pt_BR %>


<style amp-custom>
<% > css.html %>
</style>

</head>

<body>

  <!-- NAVBAR -->
  <% > navbar.html %>

  <!-- SIDEBAR -->
  <% > sidebar.html %>

  <main id="content" role="main" class="main md-flex flex-wrap items-start">
    <section class="commerce-blog-wrapper col-12 md-col-8 px2 pt2 pb3 md-px4 md-pt1 md-pb3">
      <h1 class="xs-hide sm-hide md-commerce-header h3 md-py2 md-mb4"><% featured_posts %></h1>
        <!-- BLOG PREVIEW -->
        <% > blog-preview.html %>
    </section>

    <!-- ASIDE -->
    <aside class="commerce-blog-sidebar commerce-side-panel xs-hide sm-hide md-col-4 md-px4 md-pt6">
      <h2 class="h5 md-pb2"><% aside_title %></h2>
      <p class="mb2"><% aside_desc %></p>

      <!-- SOCIAL FOLLOW -->
      <h3 class="h7 block pt3"><% follow_us %></h3>
      <% > social-follow.html %>
    </aside>
  </main>

<!-- FOOTER -->
<% > footer.html %>

<!-- AMP ANALYTICS -->
<% > amp-extensions.html %>

</body>
</html>