<!doctype html>
<html lang="<% & lang %>" ⚡>

<!-- HEAD -->
<head>
<% > head.html %>

<!-- LINKS -->
<% > rels.html %>

<!-- PAGE TITLE -->
<title><% blog_api.posts.articles.0.title %></title>

<!-- SEO -->
<link rel="canonical" href="https://onepercent.io/<% & blog_api.posts.articles.0.link %>.<% & locale %>.amp.html"/>
<link rel="amphtml" href="https://onepercent.io/<% & blog_api.posts.articles.0.link %>.<% & locale %>.amp.html"/>

<meta name="description" content="<% blog_api.posts.articles.0.preview.text %>"/>

<meta property="og:type" content="article"/>
<meta property="og:site_name" content="OnePercent.IO"/>
<meta property="og:title" content="<% & blog_api.posts.articles.0.title %>"/>
<meta property="og:description" content="<% & blog_api.posts.articles.0.preview.text %>"/>
<meta property="og:url" content="https://onepercent.io/<% & blog_api.posts.articles.0.link %>.<% & locale %>.amp.html"/>
<meta property="og:image" content="https://onepercent.io/<% & blog_api.posts.articles.0.preview.image.wide %>"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:url" content="https://onepercent.io/<% & blog_api.posts.articles.0.link %>.<% & locale %>.amp.html"/>
<meta name="twitter:description" content="<% & blog_api.posts.articles.0.preview.text %>"/>
<meta name="twitter:title" content="<% & blog_api.posts.articles.0.title %>"/>
<meta name="twitter:site" content="@onepercentio"/>
<meta name="twitter:image" content="https://onepercent.io/<% & blog_api.posts.articles.0.preview.image.narrow %>"/>

<% # blog_api.posts.articles.0.alternates %>
  <link rel="alternate" hreflang="<% & language %>" href="https://onepercent.io/<% & url %>.<% & locale %>.amp.html" />
<% / blog_api.posts.articles.0.alternates %>

<style amp-custom>
<% > css.html %>
</style>

</head>

<body>

  <!-- NAVBAR -->
  <% > navbar.html %>

  <!-- SIDEBAR -->
  <% > sidebar.html %>

  <main id="content" role="main" class="main md-flex flex-wrap items-start">
    <section class="commerce-blog-wrapper col-12 md-col-8 px2 pt2 pb3 md-px4 md-pt1 md-pb3">
      <div class="mt3">
        <h1 class="h3"><% blog_api.posts.articles.0.title %></h1>
        <span class="block mb2"><time datetime="<% blog_api.posts.articles.0.datetime %>"><% blog_api.posts.articles.0.date %></time> - <% by %> <% blog_api.posts.articles.0.author %></span>
      </div>
      <!-- BLOG ARTICLE -->
      <% # blog_api.posts.articles.0.items %>
        <% # image %>
          <amp-img class="<% classes %>" src="<% image.narrow %>" srcset="<% image.narrow %> 750w,<% image.wide %> 1280w" width="<% blog_api.posts.articles.0.imageWidth %>"
            height="<% blog_api.posts.articles.0.imageHeight %>" layout="responsive" alt="<% blog_api.posts.articles.0.title %>" noloading>
            <div placeholder class="commerce-loader"></div>
          </amp-img>
        <% / image %>
        <% # paragraph %>
          <div class="<% classes %>">
            <p><% & text %></p>
          </div>
        <% / paragraph %>
        <% # quote %>
          <blockquote class="ampstart-pullquote commerce-pullquote md-col-8 <% classes %>"><% & text %></blockquote>
          <div class="commerce-pullquote-author">- <% author %></div>
        <% / quote %>
        <% / blog_api.posts.articles.0.items %>
        <a href="/blog.<% locale %>.amp.html" class="ampstart-btn ampstart-btn-secondary inline-block h7 pt3 mt4 md-mb4"><% back_to_blog %></a>
    </section>

    <!-- ASIDE -->
    <aside class="commerce-blog-sidebar commerce-side-panel xs-hide sm-hide md-col-4 md-px4 md-pt6">
      <h2 class="h5 md-pb2"><% aside_title %></h2>
      <p class="mb2"><% aside_desc %></p>

      <!-- SOCIAL FOLLOW -->
      <h3 class="h7 block pt3"><% follow_us %></h3>
      <% > social-follow.html %>

      <!-- SOCIAL SHARE -->
      <h3 class="h7 block pt3"><% share_it %></h3>
      <% > social-share.html %>
    </aside> 
  </main>

<!-- FOOTER -->
<% > footer.html %>

<!-- AMP ANALYTICS -->
<% > amp-extensions.html %>

<script type="application/ld+json">
{ 
  "@context": "http://schema.org", 
  "@type": "<% & blog_api.posts.articles.0.type %>",
  "headline": "<% & blog_api.posts.articles.0.title %>",
  "image": "https://onepercent.io/<% & blog_api.posts.articles.0.preview.image.narrow %>",
  "editor": {
    "@type": "Person",
    "name": "Juliano Lazzarotto"
  }, 
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://onepercent.io/<% & blog_api.posts.articles.0.link %>.<% & locale %>.amp.html"
  },
  "genre": "<% blog_api.posts.articles.0.genre %>",
  "keywords": "<% blog_api.posts.articles.0.keywords %>",
  "publisher": {
    "@type": "Organization",
    "url": "https://onepercent.io",
    "logo": { 
      "@type": "ImageObject",
      "url": "https://onepercent.io/media/icons/onepercent-icon-512x512.png"
    },
    "foundingDate": "2017",
    "name": "OnePercent.IO",
    "founders": [{
      "@type": "Person",
      "name": "Juliano Lazzarotto"
    }],
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "[+55-51-999-311355]",
      "email": "lets.talk@onepercent.io",
      "contactType": "Sales",
      "availableLanguage": ["English","Portuguese","Spanish"]
    },
    "sameAs": [
      "https://www.linkedin.com/company/onepercentio/"
    ]
  },
  "url": "https://onepercent.io/<% & blog_api.posts.articles.0.link %>.<% & locale %>.amp.html",
  "datePublished": "2018-10-01T10:00:00+03:00",
  "dateCreated": "<% & blog_api.posts.articles.0.datetime %>",
  "dateModified": "<% & blog_api.posts.articles.0.dateModified %>",
  "description": "<% & blog_api.posts.articles.0.preview.text %>",
  "articleBody": "<% & blog_api.posts.articles.0.articleBody %>",
    "author": {
      "@type": "Person",
      "name": "<% blog_api.posts.articles.0.author %>"
  }
 }
</script>

</body>
</html>