<!doctype html>
<html lang="<% lang %>" ⚡>

<!-- HEAD -->
<head>
<% > head.html %>

<!-- LINKS -->
<% > rels.html %>

<!-- PAGE TITLE -->
<title>OnePercent.IO | <% browser_title_index %></title>

<!-- SEO -->
<link rel="canonical" href="https://onepercent.io/index.<% & locale %>.amp.html"/>
<link rel="amphtml" href="https://onepercent.io/index.<% & locale %>.amp.html"/>

<meta name="description" content="<% meta_description %>"/>

<meta property="og:type" content="website"/>
<meta property="og:site_name" content="OnePercent.IO"/>
<meta property="og:title" content="OnePercent.IO | Digital Innovation Studio"/>
<meta property="og:description" content="<% meta_description %>"/>
<meta property="og:url" content="https://onepercent.io"/>
<meta property="og:image" content="https://onepercent.io/media/icons/onepercent-icon-512x512.png"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:url" content="https://onepercent.io/index.<% & locale %>.amp.html"/>
<meta name="twitter:description" content="<% meta_description %>"/>
<meta name="twitter:title" content="OnePercent.IO | Digital Innovation Studio"/>
<meta name="twitter:site" content="@onepercentio"/>
<meta name="twitter:image" content="https://onepercent.io/media/icons/onepercent-icon-512x512.png"/>

<% # en_US %>
  <link rel="alternate" hreflang="pt-BR" href="https://onepercent.io/index.pt_BR.amp.html" />
<% / en_US %>

<% # pt_BR %>
  <link rel="alternate" hreflang="en-US" href="https://onepercent.io/index.en_US.amp.html" />
<% / pt_BR %>


<style amp-custom>
<% > css.html %>
</style>

</head>

<body>

  <!-- NAVBAR -->
  <% > navbar.html %>

  <!-- SIDEBAR -->
  <% > sidebar.html %>

  <main id="content" role="main" class="main commerce-landing">

  <!-- HEROES -->
  <% > heroes.html %>

  </main>

<!-- FOOTER -->
<% > footer.html %>

<!-- AMP ANALYTICS -->
<% > amp-extensions.html %>

</body>
</html>