<!doctype html>
<html lang="<% lang %>" ⚡>

<!-- HEAD -->
<head>
<% > head.html %>

<!-- LINKS -->
<% > rels.html %>

<!-- PAGE TITLE -->
<title>OnePercent.IO | <% browser_title_what_we_do %></title>

<!-- SEO -->
<link rel="canonical" href="https://onepercent.io/<% & file_what_we_do %>.<% & locale %>.amp.html"/>
<link rel="amphtml" href="https://onepercent.io/<% & file_what_we_do %>.<% & locale %>.amp.html"/>

<meta name="description" content="<% meta_description %>"/>

<meta property="og:type" content="website"/>
<meta property="og:site_name" content="OnePercent.IO"/>
<meta property="og:title" content="OnePercent.IO | Digital Innovation Studio"/>
<meta property="og:description" content="<% meta_description %>"/>
<meta property="og:url" content="https://onepercent.io/<% & file_what_we_do %>.<% & locale %>.amp.html"/>
<meta property="og:image" content="https://onepercent.io/media/icons/onepercent-icon-512x512.png"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:url" content="https://onepercent.io/<% & file_what_we_do %>.<% & locale %>.amp.html"/>
<meta name="twitter:description" content="<% meta_description %>"/>
<meta name="twitter:title" content="OnePercent.IO | Digital Innovation Studio"/>
<meta name="twitter:site" content="@onepercentio"/>
<meta name="twitter:image" content="https://onepercent.io/media/icons/onepercent-icon-512x512.png"/>

<% # en_US %>
  <link rel="alternate" hreflang="pt-BR" href="https://onepercent.io/<% file_what_we_do %>.pt_BR.amp.html" />
<% / en_US %>

<% # pt_BR %>
  <link rel="alternate" hreflang="en-US" href="https://onepercent.io/<% file_what_we_do %>.en_US.amp.html" />
<% / pt_BR %>


<style amp-custom>
<% > css.html %>
</style>

</head>

<body>

  <!-- NAVBAR -->
  <% > navbar.html %>

  <!-- SIDEBAR -->
  <% > sidebar.html %>

  <main id="content" role="main" class="main commerce-landing">

  <section class="commerce-hero-content-wrapper center overflow-hidden">
    <div class="commerce-hero-content commerce-hero-content-theme-secondary flex justify-center flex-column md-mx-auto md-p0">
      <div class="commerce-hero-align md-mx-auto">
        <h1 class="commerce-hero-content-title h4 md-h1 caps md-mb2 md-pl4"><% browser_title_what_we_do %></h1>
        <p class="commerce-hero-content-body"><% what_we_do %></p>
      </div>
    </div>
  </section>

  <% # what_we_do_cards %>

    <% # section_open %>
      <section class="overflow-hidden">
        <div class="flex flex-wrap md-px4 justify-center">
    <% / section_open %>

    <% # card %>
          <div class="col col-4 p1 m1 flex flex-column flex-wrap justify-between card_square bg-grad-<% color %>">
            <div class="flex flex-column justify-start items-start">
              <h4 class="pb1 card_title" ><% title %></h4>
              <span class="card_description"><% description %></span>
            </div>
            <div class="flex justify-between">
              <i class="<% & icon %> fa-4x"></i>
              <i class="fas fa-angle-right fa-2x self-end"></i>
            </div>
          </div>
    <% / card %>

    <% # section_close %>
        </div>
      </section>
    <% / section_close %>

  <% / what_we_do_cards %>

  <div class="mt2"></div>

  </main>

<!-- FOOTER -->
<% > footer.html %>

<!-- AMP ANALYTICS -->
<% > amp-extensions.html %>

</body>
</html>