<amp-install-serviceworker
  src="/sw.js"
  layout="nodisplay"
  data-iframe-src="/install-service-worker.html">
</amp-install-serviceworker>

<amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-TD9Q5NQ&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>