<% # blog_api.preview.articles %>
<article>
  <amp-img class="mb3" src="<% & preview.image.narrow %>" srcset="<% & preview.image.narrow %> 750w,<% & preview.image.wide %> 1280w" width="<% imageWidth %>" height="<% imageHeight %>" layout="responsive" alt="<% title %>" noloading>
    <div placeholder class="commerce-loader"></div>
  </amp-img>
  <div class="mb3 md-mx0">
    <h2 class="h3"><% title %></h2>
    <time datetime="<% datetime %>" class="block mb2"><% date %></time>
    <p class="mb2"><% preview.text %></p>
    <a href="<% & link %>.<% & locale %>.amp.html" class="commerce-blog-link inline-block h7 md-mb4"><% read_more %></a>
  </div>
</article>
<% / blog_api.preview.articles %>
