<script async src="https://cdn.ampproject.org/v0.js"></script>

<!-- PARAMS -->
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Language" content="<% locale %>">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
<meta name="amp-google-client-id-api" content="googleanalytics">

<!-- SEO -->
<meta property="og:locale:alternate" content="en_US"/>
<meta property="og:locale:alternate" content="pt_BR"/>

<meta property="og:locale" content="<% locale %>"/>

<meta name="robots" content="index,follow,noodp"/>
<meta name="googlebot" content="index,follow"/>
<meta name="google" content="nositelinkssearchbox">
<meta name="google-site-verification" content="joV27myH0wNMN4DdNeYIhZFYkqoNk6GYz3vJ0uRptRQ"/>
<meta name="application-name" content="OnePercent.IO"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>

<!-- ICONS -->
<link rel="shortcut icon" type="image/png" href="media/icons/onepercent-icon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="media/icons/onepercent-icon-16x16.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="media/icons/onepercent-icon-32x32.png"/>
<link rel="apple-touch-icon" sizes="57x57" href="media/icons/onepercent-icon-57x57.png"/>
<link rel="apple-touch-icon" sizes="60x60" href="media/icons/onepercent-icon-60x60.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="media/icons/onepercent-icon-72x72.png"/>
<link rel="apple-touch-icon" sizes="76x76" href="media/icons/onepercent-icon-76x76.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="media/icons/onepercent-icon-114x114.png"/>
<link rel="apple-touch-icon" sizes="120x120" href="media/icons/onepercent-icon-120x120.png"/>
<link rel="apple-touch-icon" sizes="144x144" href="media/icons/onepercent-icon-144x144.png"/>
<link rel="apple-touch-icon" sizes="152x152" href="media/icons/onepercent-icon-152x152.png"/>
<link rel="apple-touch-icon" sizes="180x180" href="media/icons/onepercent-icon-180x180.png"/>
<link rel="apple-touch-icon-precomposed" href="media/icons/onepercent-icon-57x57.png"/>
<link rel="icon" type="image/png" sizes="192x192"  href="media/icons/onepercent-icon-192x192.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="media/icons/onepercent-icon-32x32.png"/>
<link rel="icon" type="image/png" sizes="96x96" href="media/icons/onepercent-icon-96x96.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="media/icons/onepercent-icon-16x16.png"/>
<meta name="msapplication-TileColor" content="#ffffff"/>
<meta name="msapplication-TileImage" content="media/icons/onepercent-icon-144x144.png"/>
<meta name="theme-color" content="#ffffff">

<link rel="manifest" href="/manifest.json">

<!-- LD -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://onepercent.io",
    "logo": { 
      "@type": "ImageObject",
      "url": "https://onepercent.io/media/icons/onepercent-icon-512x512.png"
    },
    "foundingDate": "2017",
    "name": "OnePercent.IO",
    "founders": [{
      "@type": "Person",
      "name": "Juliano Lazzarotto"
    }],
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "[+55-51-999-311355]",
      "email": "lets.talk@onepercent.io",
      "contactType": "Sales",
      "availableLanguage": ["English","Portuguese","Spanish"]
    },
    "sameAs": [
      "https://www.linkedin.com/company/onepercentio/"
    ]
  }
</script>
<script type="application/ld+json">
  { 
    "@context": "http://schema.org", 
    "@type": "WebSite", 
    "url": "https://onepercent.io", 
    "name": "OnePercent.IO",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://onepercent.io"
    },
    "author": {
        "@type": "Person",
        "name": "Juliano Lazzarotto"
      },
    "description": "<% meta_description %>",
    "publisher": { 
      "@type": "Organization",
      "url": "https://onepercent.io",
      "logo": { 
        "@type": "ImageObject",
        "url": "https://onepercent.io/media/icons/onepercent-icon-512x512.png"
      },
      "foundingDate": "2017",
      "name": "OnePercent.IO",
      "founders": [{
        "@type": "Person",
        "name": "Juliano Lazzarotto"
      }],
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "[+55-51-999-311355]",
        "email": "lets.talk@onepercent.io",
        "contactType": "Sales",
        "availableLanguage": ["English","Portuguese","Spanish"]
      },
      "sameAs": [
        "https://www.linkedin.com/company/onepercentio/"
      ]
    }
  }
</script>
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
<script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>