<% # heroes %>
    <section class="commerce-hero-content-wrapper center overflow-hidden">
      <a href="<% & link %>.<% & locale %>.amp.html" class="text-decoration-none block">
        <amp-img class="commerce-hero-image" src="<% narrow_image %>" width="750" height="573" layout="responsive" media="(max-width: 52.06rem)" alt="Hero Landing 1" noloading="">
          <div placeholder="" class="commerce-loader"></div>
        </amp-img>
        <amp-img class="commerce-hero-image" src="<% wide_image%>" width="2560" height="800" layout="responsive" media="(min-width: 52.07rem)" alt="Hero Landing 1" noloading="">
          <div placeholder="" class="commerce-loader"></div>
          </amp-img>
        <div class="commerce-hero-content commerce-hero-content-theme-<% theme %> flex justify-center flex-column md-mx-auto md-p0">
          <div class="commerce-hero-align md-mx-auto">
            <h2 class="commerce-hero-content-title h4 md-h1 caps md-mb2 md-pl4"><% title %></h2>
            <p class="commerce-hero-content-body"><% description %></p>
            <div class="ampstart-btn ampstart-btn-secondary caps md-ml4"><% button %></div>
          </div>
        </div>
      </a>
    </section>
<% / heroes %>