<header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4 pt2 md-pt0">
  <div role="button" aria-label="<% sidebar_open_desc %>" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger  pr2 absolute top-0 pr0 mr2 mt2">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" class="block"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
    </svg>
  </div>
  <a href="index.<% locale %>.amp.html" class="text-decoration-none inline-block mx-auto ampstart-headerbar-home-link mb1 md-mb0" aria-label="<% & home_desc %>">
    <svg width="40px" height="40px" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true">
      <title>OnePercent Logo</title>
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect stroke="#000000" stroke-width="40" x="47" y="60" width="156" height="66"></rect>
        <path d="M27,190 L223,190" stroke="#000000" stroke-width="40"></path>
      </g>
    </svg>
  </a>
  <div class="ampstart-headerbar-fixed center  m0 p0 flex justify-center nowrap absolute top-0 right-0 pt2 pr2">
    <select on="change:AMP.navigateTo(url=event.value)" class="commerce-lang-select" aria-label="<% & select_lang_desc %>">
    <!-- FIX TO STAY ON CURRENT PAGE AND DONT BACK TO HOME -->
      <option value="index.en_US.amp.html" <% # en_US %> selected <% / en_US %>>🇺🇸</option>
      <option value="index.pt_BR.amp.html" <% # pt_BR %> selected <% / pt_BR %>>🇧🇷</option>
    </select>
  </div>
</header>