<amp-sidebar id="header-sidebar" class="ampstart-sidebar px3 md-flex flex-column justify-content items-center justify-center" layout="nodisplay">
  <div class="flex justify-start items-center ampstart-sidebar-header">
    <div role="button" aria-label="<% sidebar_close_desc %>" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>
  </div>
  <nav class="ampstart-sidebar-nav ampstart-nav">
    <a href="index.<% & locale %>.amp.html" class="text-decoration-none block mb3" role="img" aria-label="<% & home_desc %>">
      <svg width="75px" height="119px" viewBox="0 0 250 395" xmlns="http://www.w3.org/2000/svg">
        <title>OnePercent Logo</title>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g>
            <rect fill="#000000" x="0" y="0" width="250" height="395"></rect>
            <rect stroke="#FFFFFF" stroke-width="40" x="47" y="49" width="156" height="66"></rect>
            <path d="M27,179 L222,179" stroke="#FFFFFF" stroke-width="40"></path>
            <text font-family="Exo-Bold, Exo" font-size="100" font-weight="bold" fill="#FFFFFF">
              <tspan x="25" y="314">ONE</tspan>
            </text>
            <text font-family="Exo-Medium, Exo" font-size="54" font-weight="400" fill="#FFFFFF">
              <tspan x="30.19" y="355">percent</tspan>
            </text>
          </g>
        </g>
      </svg>
    </a>
    <ul class="list-reset m0 p0">
      <li class="ampstart-nav-item ampstart-label"><a href="<% & file_what_we_do %>.<% & locale %>.amp.html" class="ampstart-nav-link" aria-label="<% services_desc %>"><% services %></a></li>
      <li class="ampstart-nav-item ampstart-label"><a href="blog.<% & locale %>.amp.html" class="ampstart-nav-link" aria-label="<% blog_desc %>"><% blog %></a></li>
      <li class="ampstart-nav-item ampstart-label"><a href="<% & file_who_we_are %>.<% & locale %>.amp.html" class="ampstart-nav-link" aria-label="<% about_us_desc %>"><% about_us %></a></li>
    </ul>
  </nav>

  <!-- SOCIAL FOLLOW -->
  <h3 class="h7 block pt3"><% follow_us %></h3>
  <% > social-follow.html %>

</amp-sidebar>