<amp-social-share type="email" width="30" height="30">
</amp-social-share>
<amp-social-share type="linkedin" width="30" height="30">
</amp-social-share>
<amp-social-share type="twitter" width="30" height="30" aria-label="test">
</amp-social-share>
<amp-social-share type="whatsapp" width="30" height="30">
</amp-social-share>