/**
 * Copyright 2017 The AMP Start Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS-IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 @import 'base-page-vars';

 * {
   box-sizing: border-box;
 }
 
 /* Body */
 body {
   background: var(--color-body-background);
   color: var(--color-font-default);
   font-family: var(--font-family);
   min-width: var(--body-min-width);
   overflow-x: hidden;
   font-smooth: always;
   -webkit-font-smoothing: antialiased;
 }
 
 main {
   max-width: var(--content-max-width);
   margin: 0 auto;
 }
 
 p {
   padding: 0;
   margin: 0;
 }
 
 
 /* Accents */
 .ampstart-accent {
   color: var(--color-font-accent);
 }
 
 #content:target {
   margin-top: calc(0px - var(--navbar-height));
   padding-top: var(--navbar-height);
 }
 