/**
 * Copyright 2017 The AMP Start Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS-IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

 :root {
  --h1: 3rem; /* 48px */
  --h2: 2rem; /* 32px */
  --h3: 1.5rem; /* 24px */
  --h4: 1.125rem; /*18px*/
  --h5: .875rem; /*14px*/
  --h6: .75rem; /*12px*/

  --space-1: .5rem; /* 8px */
  --space-2: 1rem; /* 16px */
  --space-3: 1.5rem; /* 24px */
  --space-4: 2rem; /* 32px */


  --line-height-1: 1rem;
  --line-height-2: 1.125rem; /*18px*/
  --line-height-3: 1.5rem;
  --line-height-4: 2rem;


  --bold-font-weight: bold;

  --width-1: 24rem;
  --width-2: 32rem;
  --width-3: 48rem;
  --width-4: 64rem;

  --z1: 1;
  --z2: 2;
  --z3: 3;
  --z4: 4;

  --letter-spacing: 1;
  --caps-letter-spacing: .2em;

  --border-width: 1px;
  --border-radius: 3px;

  /*@custom-media --breakpoint-sm (min-width: 40.06rem);
  @custom-media --breakpoint-md (min-width: 52.06rem);
  @custom-media --breakpoint-lg (min-width: 64.06rem);
  @custom-media --breakpoint-sm-md (min-width: 40.06rem) and (max-width: 52rem);
  @custom-media --breakpoint-md-lg (min-width: 52.06rem) and (max-width: 64rem); */
}
