/**
 * Copyright 2017 The AMP Start Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS-IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

 :root {
  --h1: 3.2rem;
  --h2: 2.2rem;
  --h3: 1.40rem;
  --h4: 1.2rem;
  --h5: 1.1rem;
  --h6: 1rem;
  --h7: 0.9rem;

  --space-5: 2.5rem;
  --space-6: 3rem;
  --space-7: 5rem;

  --body-font-size: 15px;
  --color-font-accent: #ff8888;
  --color-primary: #222;
  --color-secondary: #666;
  --color-font-default: var(--color-primary);
  --color-table-border: #e9e9e9;
  --color-separator: #f3f3f3;
  --color-panel: #fcfcfb;
  --color-input-primary: var(--color-primary);
  --color-input-secondary: var(--color-white);
  --color-input-font-secondary: var(--color-primary);
  --title-font: 'Roboto', sans-serif;
  --font-family: 'Roboto', serif;
  --button-font-size: .8rem;
  --caps-letter-spacing: 0;
  --content-max-width: 1280px;
  --sidebar-width: 350px;
  --color-font-secondary: var(--color-font-accent);
  --input-checkbox-radio-size: 15px;

  --color-grad-1: #37f;
  --color-grad-2: #38f;
  --color-grad-3: #39f;
  --color-grad-4: #3af;
  --color-grad-5: #3bf;
  --color-grad-6: #3cf;

  /* Narrow custom properties */
  --narrow-page-padding: var(--space-3);
  --navbar-height: 3.5rem;

  /* Wide custom properties */
  --wide-navbar-height: 5rem;
}
