@import '../core.css';
@import 'basscss-responsive-type-scale';
@import 'basscss-responsive-margin';
@import 'basscss-responsive-padding';
@import 'bass-override-vars';
@import 'components/navbar';
@import 'components/inputs';
@import 'components/social-follow';
@import 'page-vars';


body {
  font-size: var(--body-font-size);
  line-height: initial;
}

/* ONE */

p {
  font-size: var(--h5);
}

blockquote:before {
  position: relative;
  display: inline-block;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 125' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.41421'><g transform='matrix(1,0,0,1,-300,0)'><rect x='300' y='0' width='100' height='100' style='' fill='none'/><clipPath id='a'><rect x='300' y='0' width='100' height='100'/></clipPath><g clip-path='url(#a)'><g transform='matrix(-1,0,-0,1,700,13.75)'><path d='M310,10L345,10L345,45L327.5,62.5L327.5,45L310,45L310,10Z'/></g><g transform='matrix(-1,0,-0,1,700,13.75)'><path d='M355,10L390,10L390,45L372.5,62.5L372.5,45L355,45L355,10Z'/></g></g></g></svg>");
  background-repeat: no-repeat;
  background-position: left top;
  border: none;
}

.bg-grad-1 {
  background-color: var(--color-grad-1);
}
.bg-grad-2 {
  background-color: var(--color-grad-2);
}
.bg-grad-3 {
  background-color: var(--color-grad-3);
}
.bg-grad-4 {
  background-color: var(--color-grad-4);
}
.bg-grad-5 {
  background-color: var(--color-grad-5);
}
.bg-grad-6 {
  background-color: var(--color-grad-6);
}

.card_square {
  width: 250px;
  height: 250px;
}

.card_title {
  text-align: left;
}

.card_description {
  font-size: 88%;
  font-weight: 500;
}

.link_img {
  transition: all .6s ease-in-out;
}

.link_img:hover {
  filter: none;
  transform: scale(0.9);
}

/* TYPOGRAPHY */
.h3 {
  color: var(--color-primary);
}

.h7 {
  font-size: var(--h7);
}

h1, h2, h3, h4, h5, h6, h7,
.h1, .h2, .h3, .h4, .h5, .h6, .h7 {
  line-height: normal;
  letter-spacing: normal;
  font-family: var(--title-font);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-black);
}

.pr7 {
  padding-right: var(--space-7);
}


/**
 * TODO: BassCSS addon works for space 1 - 4, however we need it for space 5+.
 * this approach should be revised.
 */

.mb5 {
  margin-bottom: var(--space-5);
}

.pb5 {
  padding-bottom: var(--space-5);
}

@media (--breakpoint-md) {
  .md-h7 {
    font-size: var(--h7);
  }

  .md-mb7 {
    margin-bottom: var(--space-7);
  }

  .md-px4 {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }

  .md-pt5 {
    padding-top: var(--space-5);
  }

  .md-pb5 {
    padding-bottom: var(--space-5);
  }

  .md-pl5 {
    padding-left: var(--space-5);
  }

  .md-pt6 {
    padding-top: var(--space-6);
  }

  .md-pl7 {
    padding-left: var(--space-7);
  }

  .md-pr7 {
    padding-right: var(--space-7);
  }

  .md-px7 {
    padding-left: var(--space-7);
    padding-right: var(--space-7);
  }

  .md-pt7 {
    padding-top: var(--space-7);
  }

  .md-pb7 {
    padding-bottom: var(--space-7);
  }
}


/* ELEMENTS */
hr {
  /* Allows separator to be full width outside of main container padding */
  width: calc(100% + 2 * var(--space-3));
  height: 1px;
  background-color: var(--color-separator);
  border: none;
  margin: 0 -var(--space-3);
}

@media (--breakpoint-md) {
  hr {
    width: 100%;
    margin: 0;
  }
}

dd:after {
  content: '';
  display: block;
}


/* CUSTOM LOADER */
.commerce-loader,
.commerce-loader::before,
.commerce-loader::after {
  border-radius: 50%;
  width: var(--space-1);
  height: var(--space-1);
  animation-fill-mode: both;
  animation: commerce-loader 1.44s infinite ease-in-out;
  will-change: contents;
}

.commerce-loader {
  color: var(--color-secondary);
  margin: 24% auto;
  animation-delay: .16s;
}

.commerce-loader::before,
.commerce-loader::after {
  content: '';
  position: absolute;
  top: 0;
}

.commerce-loader::before {
  left: -1rem;
  animation-delay: 0s;
}

.commerce-loader::after {
  left: var(--space-2);
  animation-delay: .32s;
}

.commerce-lang-select {
  font-size: 140%;
  border: none;
  appearance: none;
  background-color: transparent;
}

.commerce-hero-image .commerce-loader {
  margin-top: 200px;
}

.commerce-listing-banner .commerce-loader {
  margin-top: 100px;
}

@keyframes commerce-loader {
  0%,
  80%,
  100% {
    box-shadow: 0 var(--space-2) 0 -1rem;
  }
  40% {
    box-shadow: 0 var(--space-2) 0 0;
  }
}


/* TODO: Merge with existing amp-start select component */
.commerce-select-wrapper {
  position: relative;
  padding-right: 13px;
}

.commerce-select {
  appearance: none;
  border: none;
  border-radius: 0;
  background: none;
  color: var(--color-secondary);
}

/* Applies hover state only to mouse-enabled environments
 * to prevent inconsistent behavior on mobile devices */
.amp-mode-mouse .commerce-select:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.ampstart-input {
  width: 100%;
}

.ampstart-input label,
.ampstart-input input::placeholder,
.ampstart-input input[type="text"],
.ampstart-input input[type="email"],
textarea {
  font-size: var(--h7);
  font-family: var(--title-font);
  color: var(--color-primary);
  font-weight: bold;
  text-transform: uppercase;
}

.ampstart-input input[type="text"],
.ampstart-input input[type="email"] {
  margin-top: var(--space-3);
}

.ampstart-input > label::after {
  height: 1px;
  background: var(--color-separator);
}

.ampstart-input > input,
.ampstart-input > textarea {
  border-bottom: 1px dashed var(--color-separator);
  color: var(--color-primary);
}

.ampstart-input-radio {
  display: block;
  margin-bottom: var(--space-1);
}

.ampstart-input-radio label {
  font-family: var(--font-family);
  font-weight: initial;
  text-transform: none;
  color: var(--color-primary);
  font-size: var(--h7);
}

.amp-mode-mouse .ampstart-input-radio label:hover {
  text-decoration: underline;
}

.ampstart-btn {
  border-color: var(--color-primary);
  display: inline-block;
  font-size: var(--button-font-size);
  font-family: var(--title-font);
  font-weight: var(--bold-font-weight);
  padding: var(--space-1) var(--space-4);
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.ampstart-btn-secondary {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.amp-mode-mouse .ampstart-btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.amp-mode-mouse .ampstart-btn-secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.ampstart-btn-secondary:visited {
  color: var(--color-primary);
}

amp-selector [option] {
  outline: 1px solid var(--color-separator);
}

amp-selector [option]:hover {
  outline: 1px solid var(--color-primary);
}

amp-selector [option][selected] {
  outline-color: var(--color-primary);
}

.amp-carousel-button-prev,
.amp-carousel-button-next {
  display: none;
}

@media (--breakpoint-md) {
  .commerce-side-panel {
    position: sticky;
    top: var(--wide-navbar-height);
  }

  .md-commerce-header {
    margin-top: var(--space-3);
    border-top: 1px solid var(--color-separator);
    border-bottom: 1px solid var(--color-separator);
  }
}

.ampstart-pullquote {
  font-size: var(--h2);
  margin: var(--space-3) 0 var(--space-2) 0;
  line-height: 1.2;
  border-left: none;
  padding-left: 0;
}

.commerce-pullquote-author {
  font-family: var(--title-font);
  font-size: var(--h6);
  font-weight: var(--bold-font-weight);
  margin-bottom: var(--space-3);
}

/* Classic Table */
.commerce-table {
  border-collapse: collapse;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  font-family: var(--title-font);
  font-weight: var(--bold-font-weight);
  text-transform: uppercase;
  color: var(--color-primary);
}

.commerce-table-header {
  background: var(--color-black);
  color: var(--color-white);
}

.commerce-table td,
.commerce-table th {
  padding: 0;
  border: 1px solid var(--color-black);
  line-height: var(--space-6);
}

.commerce-table td {
  border: 1px solid var(--color-table-border);
  width: 25%;
  background-color: var(--color-white);
}

.commerce-table td:first-child {
  width: 50%;
}


/* HEADER */
.main {
  margin-top: var(--navbar-height);
}

@media (--breakpoint-md) {
  .main {
    margin-top: var(--wide-navbar-height);
    /* Allows short pages to be at least full height, minus the footer and navbar */
    min-height: calc(100vh - 181px - var(--wide-navbar-height));
  }

  .ampstart-headerbar + *:not(amp-sidebar),
  .ampstart-headerbar + amp-sidebar + * {
    margin-top: var(--wide-navbar-height);
  }
}

.ampstart-headerbar {
  color: var(--color-font-accent);
  padding-right: var(--space-2);
  background-color: var(--color-white);
  height: var(--navbar-height);
  box-shadow: none;
  border-bottom: 1px solid var(--color-separator);
}

.ampstart-headerbar .ampstart-navbar-trigger {
  color: var(--color-primary);
  font-size: var(--h4);
  /* Overrides pr2 default in navbar */
  padding-right: 0;
}

.ampstart-navbar-trigger:focus {
  outline: auto 5px -webkit-focus-ring-color;
}

@media (--breakpoint-md) {
  .ampstart-headerbar {
    height: var(--wide-navbar-height);
    border-bottom-color: var(--color-separator);
  }

  .ampstart-headerbar .ampstart-navbar-trigger {
    margin-left: var(--space-1);
    top: var(--space-1);
  }
}

.ampstart-headerbar-title {
  font-size: var(--h4);
  font-weight: var(--bold-font-weight);
  line-height: normal;
  color: var(--color-primary);
}

@media (--breakpoint-md) {
  .ampstart-headerbar-title {
    font-size: var(--h3);
  }
}

.ampstart-headerbar-home-link {
  padding-bottom: 0;
}

.ampstart-headerbar-icon-wrapper {
  width: 25px;
}

@media (--breakpoint-md) {
  .ampstart-headerbar-fixed {
    top: var(--space-1);
  }
}

.ampstart-headerbar-fixed-link {
  margin-right: 0;
}

.ampstart-sidebar {
  background-color: var(--color-white);
  width: var(--sidebar-width);
  margin-bottom: var(--space-3);
  text-align: center;
}

@media (--breakpoint-md) {
  .ampstart-sidebar {
    width: 25%;
  }

  .ampstart-sidebar-nav {
    display: inline-block;
    text-align: center;
  }
}

.ampstart-sidebar-nav-image {
  width: 120px;
}

.ampstart-icon,
.ampstart-sidebar .ampstart-icon {
  fill: var(--color-primary);
}

.ampstart-sidebar-header {
  position: relative;
  z-index: var(--z1);
}

@media (--breakpoint-md) {
  .ampstart-sidebar-header {
    position: absolute;
    top: var(--space-2);
    left: var(--space-4);
  }
}

.ampstart-sidebar .ampstart-navbar-trigger {
  margin-top: var(--space-2);
  font-size: var(--space-3);
  line-height: normal;
  top: 0;
}

@media (--breakpoint-md) {
  .ampstart-sidebar .ampstart-navbar-trigger {
    margin-top: var(--space-1);
    padding-top: 0;
  }
}

.ampstart-nav {
  margin-bottom: var(--space-2);
}

.ampstart-nav-item {
  color: var(--color-primary);
}

.ampstart-sidebar .ampstart-nav-item {
  margin-bottom: var(--space-2);
}

.ampstart-nav-link {
  font-family: var(--title-font);
  font-size: var(--h3);
  font-weight: var(--bold-font-weight);
  line-height: normal;
  display: inline-block;
  margin-bottom: var(--space-2);
  position:relative;
}

.amp-mode-mouse .ampstart-nav-link::after {
  background-color: var(--color-primary);
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform .3s cubic-bezier(.19, 1, .22, 1);
  width: 100%;
  bottom: 0;
  height: 2px;
  content: '';
  display: block;
}

.amp-mode-mouse .ampstart-nav-link:hover::after {
  transform: scaleX(1);
}

.ampstart-sidebar .ampstart-faq-item {
  margin: 0;
}

.ampstart-sidebar-faq {
  width: 100%;
  color: var(--color-primary);
  font-family: var(--font-family);
  padding-top: var(--space-2);
}

.ampstart-faq-item {
  line-height: normal;
  padding: 0 0 var(--space-1) 0;
}

.amp-mode-mouse .ampstart-faq-item:hover {
  text-decoration: underline;
}

.ampstart-sidebar .ampstart-social-follow {
  margin: var(--space-1) 0 var(--space-2) 0;
}

.ampstart-social-follow {
  justify-content: initial;
  display: inline-block;
}

.ampstart-social-follow li {
  display: inline-block;
  margin-right: 0;
}


/* LANDING */
.commerce-landing,
.commerce-listing {
  max-width: none;
}

/* HERO */
.commerce-hero-content {
  padding: var(--space-6) var(--narrow-page-padding);
}

.amp-mode-mouse .commerce-hero-image {
  transition: transform 1s;
}

.amp-mode-mouse .commerce-hero-content-wrapper:hover .commerce-hero-image {
  transform: scale(1.05);
}

.commerce-hero-content-body {
  padding: var(--space-1) var(--space-2) var(--space-1) var(--space-2);
  font-family: var(--font-family);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.commerce-hero-content-title {
  font-weight: var(--bold-font-weight);
}

@media (--breakpoint-md) {
  .commerce-hero-content-wrapper {
    position: relative;
    color: var(--color-white);
    text-align: left;
    min-height: 350px;
  }

  .commerce-hero-content-title {
    font-size: var(--h1);
    color: var(--color-white);
    font-weight: var(--bold-font-weight);
    line-height: 1;
    max-width: 500px;
  }

  .commerce-hero-content-body {
    font-size: var(--h6);
    margin-bottom: var(--space-2);
    margin-left: 0;
    padding-left: var(--space-4);
  }

  .commerce-hero-align {
    width: 100%;
    max-width: var(--content-max-width);
  }

  .commerce-hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .commerce-hero-content-wrapper .ampstart-btn {
    background-color: var(--color-white);
    border: none;
    color: var(--color-primary);
    font-size: var(--h7);
  }

  .commerce-hero-content-theme-secondary,
  .commerce-hero-content-theme-secondary .commerce-hero-content-title {
    color: var(--color-primary);
  }

  .commerce-hero-content-theme-secondary .ampstart-btn {
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  .amp-mode-mouse .commerce-hero-content-theme-secondary .ampstart-btn:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}


/* PRODUCT DETAILS */
.icon-star,
.icon-star-empty {
  height: 14px;
  width: 14px;
  color: #f9ab00;
}

.icon-star-empty {
  color: #dadada;
}

.commerce-product-btn-wrapper {
  text-align: center;
}

@media (--breakpoint-md) {
  .commerce-product-btn-wrapper {
    text-align: initial;
  }
}

.commerce-product-color-swatch {
  height: 24px;
  width: 24px;
  margin-left: var(--space-1);
}

.commerce-product-color-swatch:first-child {
  margin-left: 0;
}

.commerce-product-color-blue {
  background-color: #1d4cdf;
}

.commerce-product-color-black {
  background-color: var(--color-black);
}

.commerce-product-thumb {
  width: 43px;
  margin-left: var(--space-1);
}

.commerce-product-thumb:first-child {
  margin-left: 0;
}

@media (--breakpoint-md) {
  .commerce-product-thumb {
    width: 80px;
  }

  .commerce-product-desc {
    margin-right: calc(1/12 * 100%);
  }
}

.commerce-cart-notification .commerce-cart-icon,
.commerce-checkout .commerce-cart-icon {
  display: none;
}

.commerce-cart-notification {
  background-color: var(--color-white);
  border: 1px solid var(--color-separator);
  box-shadow: 0 6px 12px -3px var(--color-primary);
  display: block;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
}

.commerce-cart-added .commerce-cart-notification {
  animation: fade-in-out 2.5s 0s;
  pointer-events: auto;
}

@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}

@media (--breakpoint-md) {
  .commerce-cart-notification {
    top: calc(var(--wide-navbar-height) - var(--space-2));
    width: auto;
  }

  .commerce-cart-notification::before {
    background: var(--color-white);
    border-top: 1px solid var(--color-separator);
    border-left: 1px solid var(--color-separator);
    content: '';
    height: var(--space-1);
    width: var(--space-1);
    position: absolute;
    top: -1px;
    right: var(--space-1);
    transform: translate(-50%,-50%) rotate(45deg);
  }
}


/* BLOG */
.commerce-blog-wrapper {
  background-color: var(--color-white);
}

.commerce-blog-wrapper p {
  line-height: 1.6;
}

.commerce-blog-sidebar .ampstart-social-follow li:first-child a {
  margin-left: -var(--space-1);
}


/* PRODUCT LISTING */
.commerce-listing-banner {
  width: 100%;
}

.commerce-listing-filters,
.commerce-checkout-steps {
  border-top: 1px solid var(--color-separator);
  border-bottom: 1px solid var(--color-separator);
}

@media (--breakpoint-md) {
  .commerce-listing-filters {
    border: none;
  }
}

.commerce-listing-content {
  max-width: var(--content-max-width);
}

.commerce-listing-product,
.commerce-listing-product > div {
  min-height: 275px;
}

.commerce-listing-product-image {
  border-bottom: 1px dashed #dadada;
}

.amp-mode-mouse .commerce-listing-product:hover > .commerce-listing-product-name {
  text-decoration: underline;
}

/* FOOTER */
.commerce-footer {
  background-color: var(--color-primary);
}

.commerce-footer h3 {
  padding-top: 0;
}

.amp-mode-mouse .commerce-footer a:hover {
  text-decoration: underline;
}

.commerce-footer,
.commerce-footer-header ,
.commerce-footer h3 {
  color: var(--color-white);
}

.commerce-footer hr {
  background-color: #4a4a4a;
}

.commerce-footer nav {
  max-width: var(--content-max-width);
}

.commerce-footer .ampstart-icon {
  fill: #6a6a6a;
}

.commerce-footer .ampstart-social-follow {
  margin-bottom: 0;
}

@media (--breakpoint-md) {
  .commerce-footer {
    text-align: initial;
  }

  .commerce-footer .ampstart-social-follow li:first-child a {
    padding-left: 0;
  }
}


/** CHECKOUT */
.commerce-checkout-steps {
  color: #cdcccd;
}

@media (--breakpoint-md) {
  .commerce-checkout-actions {
    text-align: initial;
  }

  .commerce-checkout-steps {
    max-width: 350px;
    border: none;
    justify-content: space-between;
  }
}

.commerce-checkout .commerce-cart-icon {
  display: none;
}

.commerce-checkout .commerce-cart-item {
  margin-left: 0;
}

/* CART */
.commerce-cart-icon {
  color: var(--color-font-accent);
}

.commerce-cart-total {
  border-top: 1px solid var(--color-separator);
  border-bottom: 1px solid var(--color-separator);
}

@media (--breakpoint-md) {
  .commerce-cart-item-price {
    justify-content: space-between;
  }
}

@media (--breakpoint-xs) {
  .commerce-cart-item-desc {
    margin-top: var(--space-4);
  }
}

.commerce-cart-added .ampstart-headerbar-icon-wrapper:after {
  content: '1';
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: var(--color-font-accent);
  color: var(--color-white);
  font: var(--bold-font-weight) .7rem var(--title-font);
  opacity: 0;
  animation: fade-in .5s forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.commerce-cart .commerce-related-products {
  border-top: none;
}


@media (--breakpoint-md) {
  .commerce-cart-item {
    border-bottom: 1px solid var(--color-separator);
  }

  .commerce-cart-actions {
    text-align: left;
  }

  .commerce-cart-item-image {
    max-width: 100px;
  }
}


/* RELATED PRODUCTS */
.commerce-related-products {
  border-top: 1px solid var(--color-separator);
}

.commerce-related-products .amp-carousel-button {
  background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="#000000"><path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/><path d="M0-.5h24v24H0z" fill="none"/></svg>') 30px 30px transparent;
  cursor: pointer;
  height: 30px;
  width: 30px;
  top: 40%;
}

.commerce-related-products .amp-carousel-button-prev,
.commerce-related-products .amp-carousel-button-next {
  display: initial;
}

.commerce-related-products .amp-carousel-button-prev {
  left: 0;
}

.commerce-related-products .amp-carousel-button-next {
  right: 0;
  transform: translateY(-50%) rotate(180deg);
}

.commerce-related-product {
  width: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.amp-mode-mouse .commerce-related-product:hover .commerce-related-product-name {
  text-decoration: underline;
}
