/**
 * Copyright 2016 The AMP Start Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS-IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

 .ampstart-footer {
  background-color: var(--color-footer-background);
  color: var(--color-font-footer);
  padding-top: var(--space-7);
  padding-bottom: var(--space-7);
}

.ampstart-footer .ampstart-icon {
  fill: var(--color-font-footer);
}

.ampstart-footer .ampstart-social-follow li:last-child {
  margin-right: 0;
}
